#g0 :hover {
  background-color: #5e01d8;
  color: white;
}

#g1 :hover {
  background-color: #5e01d8;
  color: white;
}

#g2 :hover {
  background-color: #5e01d8;
  color: white;
}
#g3 :hover {
  background-color: #5e01d8;
  color: white;
}
#g4 :hover {
  background-color: #5e01d8;
  color: white;
}
#g5 :hover {
  background-color: #5e01d8;
  color: white;
}
#g6 :hover {
  background-color: #5e01d8;
  color: white;
}
#g7 :hover {
  background-color: #5e01d8;
  color: white;
}
#g8 :hover {
  background-color: #5e01d8;
  color: white;
}
#g9 :hover {
  background-color: #5e01d8;
  color: white;
}
#g10 :hover {
  background-color: #5e01d8;
  color: white;
}
#g11 :hover {
  background-color: #5e01d8;
  color: white;
}
#g12 :hover {
  background-color: #5e01d8;
  color: white;
}
#g13 :hover {
  background-color: #5e01d8;
  color: white;
}
#g14 :hover {
  background-color: #5e01d8;
  color: white;
}
#g15 :hover {
  background-color: #5e01d8;
  color: white;
}
#g16 :hover {
  background-color: #5e01d8;
  color: white;
}
#g17 :hover {
  background-color: #5e01d8;
  color: white;
}
#g18 :hover {
  background-color: #5e01d8;
  color: white;
}
#g19 :hover {
  background-color: #5e01d8;
  color: white;
}
#g20 :hover {
  background-color: #5e01d8;
  color: white;
}
#g21 :hover {
  background-color: #5e01d8;
  color: white;
}
#g22 :hover {
  background-color: #5e01d8;
  color: white;
}
#g23 :hover {
  background-color: #5e01d8;
  color: white;
}
#g24 :hover {
  background-color: #5e01d8;
  color: white;
}
#g25 :hover {
  background-color: #5e01d8;
  color: white;
}
#g26 :hover {
  background-color: #5e01d8;
  color: white;
}
#g27 :hover {
  background-color: #5e01d8;
  color: white;
}
#g28 :hover {
  background-color: #5e01d8;
  color: white;
}
#g29 :hover {
  background-color: #5e01d8;
  color: white;
}
